.Square {
	background-color: transparent;
	/*border: 3px solid #fff;*/
	font-size: 4em;
	font-weight: bold;
	height: 125px;
	width: 125px; 
	text-align: center;
}

.Square:focus {
	outline: none;
}

.Square:hover {
    cursor: pointer;
    /*content: 'A';*/
    transition: all 1.5s ease;
}

.Square.X {
	color: #702632;
	/*transition: opacity .3s;*/
	/*text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.3);*/
}

/*.Square.X:hover {
	opacity: .4;
}
*/
.Square.O {
	color: #525e8b;
}

.Top {
	border-top: none;
}

.Left {
	border-left: none;
}

.Right {
	border-right: none;
}

.Bottom {
	border-bottom: none;
}
